
page {
  background: LightGray;
  display: block;
  margin: 0 auto;
  margin-bottom: 0cm;
    margin-top: 0cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}
table, th, td {
    background: white;
  border: 1px solid black;
  border-collapse: collapse;
}
.timovi{
    text-align: center;
   
}
input[type=checkbox]
{
  margin-top: 0.2cm;
  float: right;
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
 
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.btn1{
    display: none;
}


